@font-face {
  font-family: GT Super Display;
  src: url('assets/GT-Super-Display-Regular.woff2');
}

@font-face {
  font-family: GT Super Display Italic;
  src: url('assets/GT-Super-Display-Regular-Italic.woff2');
  font-style: italic;
}

@font-face {
  font-family: GT Super Text;
  src: url('assets/GT-Super-Text-Regular.woff2');
  font-style: italic;
}

@font-face {
  font-family: Platform;
  src: url('assets/Platform-Regular.woff2');
  font-style: italic;
}
