.utility-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  border-bottom: 1px solid;
}

.utility-bar.fixed {
  position: fixed;
}

.utility-bar p {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-family: 'GT Super Display Italic';
  font-style: italic;
}

.utility-bar ul {
  display: flex;
  gap: 3rem;
}

.utility-bar__link, .utility-bar p {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

.utility-bar__link {
  font-style: italic;
}

@media screen and (max-width: 749px) {
  .utility-bar {
    display: none;
  }
}
